/* Author: Aether Mocker */

@charset "UTF-8";
html {
	background-color: #ffdeec;
    text-align: center;
}

img {
	border: solid 5px #FFFFFF;
}

body {
	border-style: double;
	border: solid 5px #FFFFFF;
}

#order_form_div, #order_info_div, h1 {
    text-align: center;
    background-color: #ecaac7;
    border-style: double;
	border: solid 5px #FFFFFF;
}

h1 {
	color: #570839;
	font-family: "Copperplate";
	font-size: 36px;
} 

h3 {
	color: #d90961;
	font-size: 23px;
}	

p, #order_form, #order_info, #order_button {
	color: #d90961;
    font-size: 14px;
	font-family: "Monaco", monospace;
}

#table2 {
    text-align: center;
    margin-left: 40%;
    margin-right: 30%;
    padding: 2px;
}

#order_button {
	background-color: #cc81a1;
    cursor: pointer;
    border: solid 4px #FFFFFF;
}

ul, li {
    color: #d90961;
    margin:0; 
    padding:0; 
    list-style:none;
}

/* from w3schools.com and https://stackoverflow.com/questions/8775860/jquery-drop-down-hover-menu */

#panel, #month_button {
  padding: 5px;
  text-align: center;
  color: #931348;
  background-color: #f1d0df;
  border: solid 2px #FFFFFF;
}

#panel {
  height: 50px;
  max-height: 50px;
  overflow-y: scroll;
  display: none;
  cursor: pointer;
}

.month_dropdown {
    display:none;
    width:300px;
    border: 1px solid #1c1c1c;
}

.month_dropdown li {
    background-color: #302f2f;
}

.month_dropdown li a {
    color:#FFFFFF; 
    text-decoration:none; 
    padding:10px; 
    display:block;
}

.month_dropdown li a:hover {
    padding:5px;
    font-weight:bold;
    color: #F00880;
}

